/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: 'Interphases Pro DemiBold', sans-serif;
    color: #ffffff;
    background-color: #00582f;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.main-header {
    /*background-color: #0f3e28;*/
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.logo-text h1 {
    font-size: 22px;
    margin-bottom: 4px;
}

.logo-text p {
    font-size: 14px;
    color: #90ee90;
}

/* Navigation */
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: background 0.3s, color 0.3s;
}

.main-nav ul li a:hover {
    background-color: #006d5b;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(15, 62, 40, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-primary {
    background-color: #006d5b;
    color: white;
}

.btn-primary:hover {
    background-color: #009578;
}

.btn-secondary {
    background-color: white;
    color: #0f3e28;
    border: 1px solid #0f3e28;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}


